@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
}
@layer base {
  html {
    font-family: "Roboto", sans-serif;
    }
}
@keyframes fade-up{
  0% {
    opacity: 0;
    transform: translateY(65px) scale(1);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
  
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(1);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-35px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(35px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
.right{
  animation: fade-right 1s;
}
.left{
  animation: fade-left 1s;
}
.head{
  animation:fade-down 1s;
}
.btn{
  animation:fade-up 1s;
}

